[submodule "MiMaEmulator/vendor/spdlog"]
	path = MiMaEmulator/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "MiMaEmulator/vendor/fmt"]
	path = MiMaEmulator/vendor/fmt
	url = https://github.com/fmtlib/fmt
[submodule "ConsoleInterface/vendor/fmt"]
	path = ConsoleInterface/vendor/fmt
	url = https://github.com/fmtlib/fmt
